*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(44, 43, 43);
    position: relative;
    width: 100%;
}


.navbar
{
    background-color: rgb(24, 23, 23);
    
}

nav
{
    font-size: 24px;
    z-index: 1;
    width: 100%;
  
}
.navbar-brand
{
color: orange;
font-weight: 700;
font-size: 26px;
}
a {
color: rgba(255, 255, 255, 0.733);


 }
a:hover{
   color: rgb(143, 138, 138);
} 
.active
{
color: rgb(143, 138, 138);
}
.fas.fa-bars
{
color: orange;
padding: 10x;

}
.fas.fa-laptop
{
margin: 0px 7.5px;
}


    h1{
        color: white;
    }
    .header-background-img
    {
        position: relative;
        height: 100vh;
        background-image: url('/Images/background2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #ffffff;
        z-index: 0;
        
    }
        .hero-shadow
         {
           position: absolute; 
           height: 100%;
           width: 100%;
           background-color: rgba(0,0,0,.6);
           z-index: -10;
        
           
        }
        .hero-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
            z-index: 5;
           
        }
        .hero-container h1{
            width: 70%;
            text-align: center;
            font-weight: bold;
        }
        .hero-container p
        {
            text-align: center;
            width: 30%;
            
        }
        

  


input[type="button"] {
    display: none;
   
    
}

.custom-file-upload {
    border: 1px solid orange;
    cursor: pointer;
 
    
}
.custom-file-upload a
{
    display: block;
    padding: 10px;
}
.custom-file-upload:hover
{
    border: 1px  solid rgb(250, 210, 30);
    animation: load 2s;
}
@keyframes pulse
{

}
.custom-file-upload.two{
    border: 1px solid rgba(12, 12, 12, 0.432);
    margin-bottom: 20px;
 
    
}
.custom-file-upload.two:hover{
    background-color: rgb(219, 211, 211);
    
 
    
}


#skils
{
    
    width: 100%;
    background-color: rgb(247, 240, 240);
    
}
    .skils-container
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .skils-container h1{
         
        font-weight: bold;
        margin: 25px;
        color: black;
    }
    .technologies-container
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
       
    }
    .tech
    {
     width: 350px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin: 50px;
    }
    .front-icon
    {
        width: 100px;
    }
  

      #portfolio
      {
        background-color: rgb(247, 240, 240);
        padding-bottom: 50px;
        
     }

    .portfolio-container
    {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .portfolio-container h1
    {
    margin: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    }
   .project-article
   {
       width: 800px;
       
       display: flex;
       
       margin: 30px;
       border-radius: 15px;
       -webkit-box-shadow: 8px 8px 13px 20px rgba(0,0,0,0.05); 
       box-shadow: 8px 8px 13px 20px rgba(0,0,0,0.05);
      
       
   }
   .project-article.one
      {
       justify-content: space-between;
    
      }
   
 
    
     .fb-img
     {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
     }
     .fb-img.one
     {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
     }
     .project-information
     {
         text-align: center;
         display: flex;
         margin: 0 auto;
         flex-direction: column;
         justify-content: center;
         
     }
     .project-information h3
     {
         font-weight: bold;
     }
     .project-information.one
     {
         
        
     }
     .project-information.one a
     {
         color: black;
         text-decoration: none;
         margin: 0;
         padding: 10px 20px;
         display: block;
     }

     .contact
     {
         background-color: black;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .contact h1
     {
        font-weight: bold;
        padding: 25px;
        color: rgb(255, 255, 255);
     }
     .contact-container
     {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin-top: 30px;
        padding-bottom: 150px;
     }
     .contact-container img 
     {
         border-radius: 450px;
         width: 250px;
         height: 250px;
         border: 4px solid rgb(236, 233, 233);
     }
     .profile-container
     {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin: 20px;
        
         
     }
     .author
     {
        padding: 10px;
        font-size: 24px;
        color: rgb(255, 255, 255);
     }
     .author.name
     {
         font-size: 34px;
         color: rgb(255, 255, 255);
     }
     footer
     {
        background-color: rgba(24, 23, 23, 0.507);
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         color: rgba(255, 255, 255, 0.397);
     }
     


@media(min-width: 1200px)
{
    

    .header-background-img
    {
        
        background-image: url('/Images/background.svg');
    }

 
    
}

@media(max-width: 800px)
{
    .project-article.one
    {
        width: 420px;
    }

    .fb-img.one
    {
        display: none;
    }
    .contact-container
     {
         flex-direction: column;
        align-items: center;
     }

}


@media(max-width: 471px)
{

.hero-container p
{
font-size: 12px;
}
.tech
     {
         margin: 50px 0px;
         
     }

.project-article.one
{
    width: 290px;
}
}
@media(max-width: 400px)
{

.hero-container p
{
font-size: 12px;
}
.tech
     {
         margin: 50px 0px;
         width: 250px
     }

.project-article.one
{
    width: 220px;
}
}
